<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic HTML to PDF
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="danger" fill="outline" (click)="createPdf1()">
        View PDF
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text>{{test}}</ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>Email</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Leanne Graham</ion-col>
      <ion-col>leanne@gmail.com</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Leanne Graham</ion-col>
      <ion-col>leanne@gmail.com</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Leanne Graham</ion-col>
      <ion-col>leanne@gmail.com</ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col>Leanne Graham</ion-col>
    <ion-col>leanne@gmail.com</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Leanne Graham</ion-col>
    <ion-col>leanne@gmail.com</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Leanne Graham</ion-col>
    <ion-col>leanne@gmail.com</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Leanne Graham</ion-col>
    <ion-col>leanne@gmail.com</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Leanne Graham</ion-col>
    <ion-col>leanne@gmail.com</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Leanne Graham</ion-col>
    <ion-col>leanne@gmail.com</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Leanne Graham</ion-col>
    <ion-col>leanne@gmail.com</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Leanne Graham</ion-col>
    <ion-col>leanne@gmail.com</ion-col>
  </ion-row>
</ion-content>